html, body {
  width: 350px;
}

a {
  margin: 10px;
  display: inline-block;
}

.switch-tabs {
  padding-left: 10px;
}

.switch-tabs a {
  display: block;
}

.panel {
  margin: 15px;
}

.text-section-header {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  
}

/* FROM https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  height: 15px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  padding: 4px 0;
  font-size: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  margin-top: -21px;

}
.tooltip:hover .tooltiptext {
  visibility: visible;
}



